@use "variables";

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Montserrat';
    background-color: variables.$background-primary;
    color: variables.$text-primary;
    margin: 0;
    position: relative;
}

body * {
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 95vw;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

h1 {
    font-size: variables.$h1-font-size;
}

.card {
    max-width: 656px;
    height: 124px;
    color: variables.$text-primary;
    background-color: variables.$background-secondary;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.card:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.05);
}

.card__img-container { // add container!
    width: 165px;
    background-color: #E5EAEF;
}

.card__img {
    object-fit: cover;
}

.card__content {
    padding: 12px;
    padding-left: 16px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.card__title {
    font-size: 20px;
    line-height: 1.2;
    margin: 0;
}

.card__year {
    color: variables.$text-secondary;
    font-weight: 500;
}

.card:hover .card__title {
    color: variables.$accent-primary;
}

.badge {
    display: inline-block;
    color: variables.$accent-done;
    background-color: variables.$background-done;
    padding: 2px 8px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 400px;
    line-height: 1.3;
}

.specs {
    display: flex;
    justify-content: space-between;
    column-gap: 16px;
    color: variables.$text-secondary;
}

.specs__title {
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
}

.specs__value {
    display: block;
    margin-top: 8px;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
}

.specs__value--black {
    color: variables.$text-primary;
}

@media screen and (max-width: 640px) {
    .card {
        width: 475px;
        min-width: 320px;
        height: auto;
        flex-direction: column;
    }

    .card__content {
        height: 82px;
    }

    .card__title {
        font-size: 12px;
        line-height: 1.3;
    }

    .badge {
        font-size: 10px;
        line-height: 1.6;
        padding: 0 4px;
    }

    .specs__title {
        font-size: 8px;
        line-height: 1.5;
    }

    .specs__value {
        font-size: 12px;
        line-height: 1.3;
        margin-top: 2px;
    }
}

.modal {
    display: none;
    place-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal--visible {
    display: grid;
}

.modal__content {
    position: relative;
    width: 600px;
    border-radius: 12px;
    padding: 40px;
    background-color: variables.$background-secondary;
    display: flex;
    row-gap: 40px;
    flex-direction: column;
    align-items: center;
}

.modal__close {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 30px;
    height: 30px;
    border: none;
    background: none;
    cursor: pointer;
}

.modal__img {
    width: 170px;
    height: 205px;
}

.modal__text {
    text-align: center;
}

.modal__heading {
    font-size: 24px;
    line-height: 1.3;
    margin-bottom: 16px;
}

.modal__message {
    font-size: 15px;
    line-height: 1.3;
    color: variables.$text-secondary;
    font-weight: 400;
}

.button {
    border: 0;
    background: variables.$accent-primary;
    color: variables.$text-tertiary;
    font-family: 'Montserrat';
    font-weight: 600;
    padding: 0 20px;
    border-radius: 8px;
    width: 240px;
    height: 60px;
    cursor: pointer;
}

@media screen and (max-width: 640px) {
    .modal__content {
        max-width: min(475px, 95vw);
        min-width: 320px;
        padding: 16px;
    }

    .modal__close {
        top: 16px;
        right: 16px;
    }

    .modal__img {
        width: 130px;
        height: 156px;
    }

    .modal__heading {
        font-size: 16px;
    }

    .button {
        width: 100%;
    }
}