$text-primary: #000000;
$text-secondary: #a2a0a0;
$text-tertiary: #ffffff;

$accent-primary: #0070f0;
$accent-done: #006908;
$accent-tertiary: #e1e0e0;

$background-primary: #f6f7f8;
$background-secondary: #ffffff;
$background-done: #d7f7c2;

$h1-font-size:   40px;
$h2-font-size:   30px;

$font-size-lg:   18px;
$font-size-md:   14px;

$font-size-base: 15px;